{#
/**
 * @file
 * Template for the main page.
 */
#}

{% set page_attributes = attributes ?: create_attribute() %}
{% set 
  page_classes = [
    'page',
  ]|merge(page_utility_classes ?: []) 
%}

<div {{ page_attributes.addClass(page_classes) }}>

  {# Only show page_navigation if this is NOT the front page #}
  {% if not is_front %}
  <div class="debug">
    <!-- Debugging page navigation -->
    <p>DEBUG: Page navigation is being included here.
components/page/page.twig is calling : block page_navigation : radix:page-navigation
</p>
  </div>
    {# % block page_navigation %}
      {% include 'radix:page-navigation' %}
The default bootstrap style ^^ radix:page-navigation. 
DEBUg: navigation is closed here.
    {% endblock % #}

  {% endif %}

  {% block page_content %}
    {% include 'radix:page-content' with {
      page_main_utility_classes: ['py-5'],
      page_header_container_utility_classes: ['mb-3'],
    }%}
  {% endblock %}

	{% block page_footer %}
		{% include 'radix:page-footer' %}
	{% endblock %}
</div>
