{#

/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{%
  embed 'radix:block' with {
    block_utility_classes: [
      'block--system-branding',
      'd-flex',
      'align-items-center',
    ],
  }
%}
  {% block block_content %}
    <div class="container-fluid">
      <div class="row align-items-center">
        <h1>FOOBAR2600</h1>
        
        <!-- Branding Block -->
        <div class="col">
          <div class="branding-wrapper d-flex align-items-center">
            {% if is_front %}
block--system-branding-block.html.twig   | 2600-FRONT
              <a href="/" class="navbar-brand">
                <img src="/themes/custom/radix_house_theme/images/light_logo_text.svg" alt="{{ site_name }} logo" class="logo-image">
              </a>
            {% else %}
block--system-branding-block.html.twig   | NOT-FRONT-2600-FRONT
              <a href="/" class="navbar-brand">
                <img src="/themes/custom/radix_house_theme/images/dark_logo_text.svg" alt="{{ site_name }} logo" class="logo-image">
              </a>
            {% endif %}
            <span class="site-name">{{ site_name }}</span>
          </div>
        </div>
      </div> <!-- End of row -->
    </div> <!-- End of container-fluid -->
  {% endblock %}
{% endembed %}
