// Bootstrap
// -----------------------------------------------------------------------------
@import 'init';
@import 'bootstrap';
@import 'bootswatch';
// Parent Drupal related components
// -----------------------------------------------------------------------------
@import '../../components/offcanvas/offcanvas';
@import "base/elements";
@import "base/functions";
@import "base/helpers";
@import "base/typography";


// Variables for color palette
$background-color: #ffffff;
$nav-link-color: #ffffff;
$nav-link-hover:#b7fd6e;
$black: #000000;
$primary-color: #1b0f05; // Forest Service Brown
$secondary-color: #3a0e34;
$accent-color: #A67B5B;
$text-color: #141313; // White
$link-color: #3a0e34; // Tan
$button-color: #3a0e34;;

// Body and general page styles
body {
  background-color: $black;
  color: $text-color;
  font-family: Arial, sans-serif;
}

main {
  background-color: $background-color;
}

footer {
  background-color: $black;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

// Links
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Buttons
button, .button {
  background-color: $button-color;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: $background-color;
  &:hover {
    background-color: darken($button-color, 10%);
  }
}

// Other elements (e.g., cards, panels)
.card, .panel {
  background-color: $secondary-color;
  color: $text-color;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

// Accent elements (e.g., borders, small details)
.accent {
  border-color: $accent-color;
  color: $accent-color;
}

// Navbar styles
.navbar {
  background-color: $background-color;
  // Define a custom property (CSS variable)
  --bs-navbar-toggler-border-radius: 0;

  .navbar-brand {
    color: $primary-color;
    &:hover {
      color: lighten($nav-link-color, 10%);
    }
  }
  .navbar-nav {
    .nav-link {
      color: $nav-link-color;
      &:hover {
        color: $nav-link-hover;
      }
    }
    .active > .nav-link {
      color: $nav-link-hover;
      background-color: $primary-color;
    }
  }
  .navbar-toggler {
    background-color: $black;
    border-color: $accent-color;
    &:hover {
      background-color: $black;
    }
  }
}

.navbar-toggler-icon {
  display: inline-block;
  width: 32px; /* Adjusted width */
  height: 32px; /* Adjusted height */
  vertical-align: middle;
  background-image: none; /* Remove background image */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-align: center;
  line-height: 30px; /* Center the text vertically */
  position: relative; /* Relative positioning for pseudo-elements */
  transition: all 0.6s ease; /* Smooth transition */
}

.navbar-toggler-icon::after {
  font-size: 2rem; // Adjust the size as needed
  font-weight: bold; // Make it bold
  content: "☰"; /* Hamburger icon */
  display: inline-block;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  line-height: inherit; /* Inherit line height */
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  font-size: 2rem; // Adjust the size as needed
  font-weight: bold; // Make it bold
  content: "X"; /* Close icon */
  opacity: 1; /* Ensure visibility */
  transform: rotate(90deg); /* Rotate for smooth transition */
}

// Dropdown menu styles
.navbar-nav .dropdown-menu {
  background-color: $background-color;
  .dropdown-item {
    color: $link-color;
    &:hover {
      color: $text-color;
      background-color: $primary-color;
    }
  }
}

// Set Logo dimension
.navbar-brand__logo img {
  min-width: 230px;
  min-height: 35px;
}

// Extracted Olivero menu styles
.header {
  position: relative;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d0e02; // Forest Service Brown
  font-family: 'metropolis', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: var(--sp2);
  position: relative;
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

// Underline hover effect
.navbar .navbar-nav .nav-link {
    position: relative;
    display: inline-block;
    padding-top: 0;
    font-size: 1.3rem;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover::before {
    width: 100%;
    left: 0;
}

.navbar-nav .nav-link {
  color: #D2B48C; // Tan
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navbar-nav .nav-link:hover {
  color: #FFFFFF; // White
  background-color: #000000; // Darker brown
}

.navbar-toggler {
  background-color: #C19A6B; // Button color
  border: none;
  color: #FFFFFF; // White
}

.navbar-toggler:hover {
  background-color: $primary-color;
}

.dropdown-menu {
  background-color: #000000; // Black
  border: none;
}

.dropdown-item {
  color: #D2B48C; // Tan
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.dropdown-item:hover {
  color: #FFFFFF; // White
  background-color: #6B4423; // Forest Service Brown
}

// Additional styles for overlay and active states
.is-overlay-active {
  overflow: hidden;
}

.is-fixed {
  position: fixed;
  width: 100%;
}

.is-active {
  display: block;
}


/* Base styles for the menu */
.menu-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background: $primary-color;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(100%);
  opacity: 0;
  z-index: 1000;
}

/* Styles when the menu is active */
.menu-wrapper.is-active {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

/* Menu toggle button styles */
.menu-toggle {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

/* Additional styles for body when menu is open */
body.menu-open {
  overflow: hidden;
}

/* @license GPL-2.0-or-later https://www.drupal.org/licensing/faq */
@font-face {
    font-family: metropolis;
    src: url(/core/themes/olivero/fonts/metropolis/Metropolis-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: metropolis;
    src: url(/core/themes/olivero/fonts/metropolis/Metropolis-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: metropolis;
    src: url(/core/themes/olivero/fonts/metropolis/Metropolis-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Lora;
    src: local("Lora Regular"),local("Lora-Regular"),url(/core/themes/olivero/fonts/lora/lora-v14-latin-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Lora;
    src: local("Lora Italic"),local("Lora-Italic"),url(/core/themes/olivero/fonts/lora/lora-v14-latin-italic.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Lora;
    src: local("Lora Bold"),local("Lora-Bold"),url(/core/themes/olivero/fonts/lora/lora-v14-latin-700.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// Apply the Metropolis font to the navbar
.navbar,
.navbar a,
.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    font-family: 'metropolis', sans-serif;
    font-weight: 700;
}
