// Import Variables First
@import 'base/variables';

@import 'init';
@import 'bootstrap';
@import 'bootswatch';
@import '../../components/offcanvas/offcanvas';
@import "base/elements";
@import "base/functions";
@import "base/helpers";
@import "base/typography";
@import 'mime-icons';
@import 'navbar';


// Variables for color palette
$background-dark-color: #362e27;
$background-color: #ffffff;
$nav-link-color: #ffffff;
$nav-link-hover:#b7fd6e;
$black: #000000;
$white: #ffffff;
$primary-color: #26242e; //grey
$secondary-color: #3a0e34;
$accent-color: #f9fafd;
$text-color: #141313; // White
$link-color: #007633; // VT Green
$link-color-hover: #020c01; // VT Green
$button-color: #3a0e34;

// Body and general page styles
body {
  background-color: $white;
  color: $text-color;
  //font-family: 'Work Sans', sans-serif;
  font-family: Arial, sans-serif;
}

main {
  background-color: $background-color;
  transition: margin-top 0.3s ease-in-out;
  -webkit-transition: margin-top 0.3s ease-in-out; /* Safari */
  -moz-transition: margin-top 0.3s ease-in-out;    /* Firefox */
  -o-transition: margin-top 0.3s ease-in-out;      /* Opera */
  -ms-transition: margin-top 0.3s ease-in-out;     /* IE10 */
  position: relative;
  z-index: 40; /* Higher z-index to place <main> above #splash--wordmark */
}

.author, .author a {
  color: white;
}

footer {
  position: relative;
  background-color: #183043;
  color: white;
  z-index: 20;
}
footer a {
  font-family: "metropolis", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: black;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

footer h2 {
  color: #00b6ed;
}

// Links
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

// Buttons
button, .button {
  background-color: $button-color;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: $background-color;
  &:hover {
    background-color: darken($button-color, 10%);
  }
}

// Other elements (e.g., cards, panels)
.card, .panel {
  background-color: $accent-color;
  color: $text-color;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.ckeditor-accordion-toggler {
  background-color: #211711;
}

.ckeditor-accordion-container > dl dt > a,
.ckeditor-accordion-container > dl dt > a:not(.button) {
  display: block;
  padding: 10px 15px 10px 50px;
  background-color: #211711;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  border-bottom: 1px solid #00a4ec;
}



// Accent elements (e.g., borders, small details)
.accent {
  border-color: $accent-color;
  color: $accent-color;
}

.container {
max-width: none;
--bs-gutter-x: 0;
}

#rsvp_alert {
  position: relative; /* Normal flow for scrolling */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8DD0F9;
  color: #B85A2C; /* Dark complementary text color */
  padding: 10px;
  text-align: center;
  z-index: 9999;
}

#rsvp-site-logo {
  min-height: 200px;
}

#rsvp-fade-bar {
  background-color: $background-dark-color;
}

/* Mobile StyleFrom Here Down */

@include media-breakpoint-down(lg) {

.block--radix-rsvp-main-menu {
    background-color: #211711;
    display: block;
    margin: 0 auto;      /* Center the block within its container */
    width: 100%;         /* Ensure the block takes up full width until it hits the max-width */
}

#rsvp_alert {
  position: relative; /* Normal flow for scrolling */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8DD0F9;
  color: #B85A2C; /* Dark complementary text color */
  padding: 10px;
  text-align: center;
  z-index: 9999;
}

#rsvp_site_name_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky; /* Make it sticky */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000; /* Ensure it stays above other content */
  min-height: 65px;
}

#rsvp_site_name_default, #rsvp_site_name_invert {
  position: absolute; /* Allow them to overlap */
  transition: opacity 0.5s ease-in-out;
}

#rsvp_site_name_default {
  opacity: 1;
}

#rsvp_site_name_invert {
  opacity: 0;
}

.sticky-container {
  position: sticky; /* Initial relative position */
  z-index: 10;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.sticky-active {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white !important;
  transition: all 0.3s ease; /* Smooth transition */
  background-color: white;
  border-bottom: 1px solid black;
}

/* Initial state of the sticky header */
#sticky-header {
    position: sticky;
    background-color: rgba(0, 0, 0, 0.4); /* 80% black background */
    transition: background-color 0.5s ease;
    backdrop-filter: blur(10px); /* Adjust the blur effect */
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid black;
}
#rsvp_logo_default, #rsvp_logo_invert {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  width: 100%; /* Ensure they take up the full width of the parent */
  height: auto;
}

#rsvp_logo_invert {
  opacity: 0;
}

.logo-container {
  position: relative;
  display: block;
  min-height: 200px;
  height: auto; /* Adjust height if needed */
}

/* Ensure both logos overlap perfectly */
.logo-container picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure the logo fits the container */
  height: auto;
  transition: opacity 0.5s ease; /* Smooth transition */
}

/* Center the two elements inside the wrapper */
.center-wrapper {
  display: flex; /* Allows the pictures to align side by side */
  justify-content: center; /* Center both pictures horizontally */
  align-items: center; /* Center the pictures vertically */
  gap: 10px; /* Space between the two picture elements */
}

#rsvp_logo_image {
  max-width: 100px; /* Adjust this value as needed */
  margin-right: 15px; /* Add spacing between the logo and the site name */
}

#rsvp_logo_text_image {
  width: 100%;
  height: auto;
}

/* Mobile Settings */
@media (max-width: 599px) {
  /* Adjust site name container image */
  .site-name-container picture {
    max-width: 80%;
  }

  /* Logo images in the default and invert containers */
  #rsvp_logo_default img, #rsvp_logo_invert img {
    max-width: 100px;
  }

  /* Logo and site name container styling for mobile */
  .logo-container {
    min-height: 100px; /* Mobile min-height */
    text-align: center;
  }

  .site-name-container {
    text-align: center;
  }
}

/* Tablet Settings */
@media (min-width: 600px) and (max-width: 1024px) {
  /* Adjust site name container image */
  .site-name-container picture {
    max-width: 500px;
  }

  /* Logo images in the default and invert containers */
  #rsvp_logo_default img, #rsvp_logo_invert img {
    max-width: 150px;
  }

  #rsvp_site_name_container img {
    border: 1px solid yellow;
    max-width: 500px;
  }

  /* Logo and site name container styling for tablet */
  .logo-container {
    min-height: 150px; /* Tablet min-height */
    text-align: center;
  }

  .site-name-container {
    text-align: center;
  }
}

/* Desktop Settings */
@media (min-width: 1025px) {
  /* Adjust site name container image */

  .site-name-container picture {
    max-width: 600px;
  }

  /* Logo images in the default and invert containers */
  #rsvp_logo_default img, #rsvp_logo_invert img {
    max-width: 200px;
  }

  /* Logo and site name container styling for desktop */
  .logo-container {
    min-height: 200px; /* Desktop min-height */
    text-align: right;
  }

  .site-name-container {
    text-align: left;
  }
}

.navbar-brand__logo img {
  min-width: 230px;
  min-height: 35px;
}

// Extracted menu styles
.header {
  position: relative;
  z-index: 30;
}

#main-content {
  background-color: white;
  transition: background-color 0.3s;
}

.swiper-button-next,.swiper-button-prev {
  color: white !important;
}

#main-content .nav-item a {
color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'metropolis', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: var(--sp2);
  position: relative;
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

// Underline hover effect
.navbar .navbar-nav .nav-link {
    position: relative;
    display: inline-block;
    padding-top: 0;
    font-size: 1.3rem;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
}

.branding-wrapper {
  background-color: #211711;
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
/* Background color when scrolled */
.branding-wrapper.scrolled {
  background-color: yellow; /* Change to desired color when scrolled */
}

/* Initial state */
.navbar {
  background-color: #211711;
  display: flex; /* Use flexbox for alignment */
  justify-content: flex-end;
  z-index: 88;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Additional styles you want to toggle on scroll */
.navbar.scrolled .navbar-brand__logo {
  transform: scale(1.1); /* Example of scaling another element inside navbar */
}

.navbar .navbar-nav .nav-link:hover::before {
    width: 100%;
    left: 0;
}

.navbar-nav .nav-link {
  color: #D2B48C; // Tan
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navbar-nav .nav-link:hover {
  color: #FFFFFF; // White
  background-color: #000000; // Darker brown
}

.navbar-toggler {
  background-color: #362e27; // Button color
  border: none;
  color: #FFB347;
  padding:unset;
  justify-content: center;
}

#navbar-name-toggler {
    border: none !important;
    box-shadow: none !important;
    min-height: 110px;
}

.navbar-toggler:hover {
  background-color: $primary-color;
}

.dropdown-menu {
  background-color: #000000; // Black
  border: none;
}

.dropdown-item {
  color: #D2B48C; // Tan
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.dropdown-item:hover {
  color: #FFFFFF; // White
  background-color: #6B4423; // Forest Service Brown
}

// Additional styles for overlay and active states
.is-overlay-active {
  overflow: hidden;
}

.is-fixed {
  position: fixed;
  width: 100%;
}

.is-active {
  display: block;
}

/* Base styles for the menu */
.menu-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background: $primary-color;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(100%);
  opacity: 0;
  z-index: 6;
}

/* Styles when the menu is active */
.menu-wrapper.is-active {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

/* Menu toggle button styles */
.menu-toggle {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

/* Additional styles for body when menu is open */
body.menu-open {
  overflow: hidden;
}

/* @license GPL-2.0-or-later https://www.drupal.org/licensing/faq */
@font-face {
    font-family: metropolis;
    src: url(/core/themes/olivero/fonts/metropolis/Metropolis-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: metropolis;
    src: url(/core/themes/olivero/fonts/metropolis/Metropolis-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: metropolis;
    src: url(/core/themes/olivero/fonts/metropolis/Metropolis-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Lora;
    src: local("Lora Regular"),local("Lora-Regular"),url(/core/themes/olivero/fonts/lora/lora-v14-latin-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Lora;
    src: local("Lora Italic"),local("Lora-Italic"),url(/core/themes/olivero/fonts/lora/lora-v14-latin-italic.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Lora;
    src: local("Lora Bold"),local("Lora-Bold"),url(/core/themes/olivero/fonts/lora/lora-v14-latin-700.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// Apply the Metropolis font to the navbar
.navbar,
.navbar a,
.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
/*    font-family: 'metropolis', sans-serif; */
    font-family: 'Work-Sans', sans-serif; /* Change from 'metropolis' to 'Work-Sans' */
    font-weight: 600;
}
// Frontpage Hero Inversion
body.path-frontpage .nav-link {
color: white !important;
}

// Front page scrolled state
body.path-frontpage .nav-link {
  color: brown; // Black text when scrolled on the front page
}
    /* Apply fixed navbar styling only on the front page */
    body .navbar {
      position: sticky;
      top: 0px;
      width: 100%;
      transition: background-color 0.3s ease, z-index 0.3s ease, backdrop-filter 0.3s ease;
      width: 100%;
      z-index: 30;
      background-color: #362e27;
      backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
      z-index: 88; /* Default z-index */
      transition: background-color 0.3s ease, z-index 0.3s ease, backdrop-filter 0.3s ease; /* Smooth transition */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow for visual separation */
      border-bottom: 1px solid rgba(77, 59, 46, 0.5);
    }
    body.path-frontpage .toolbar-bar {
      position: fixed;
      width: 100%;
      z-index: 1000; /* Ensure it stays on top */
    }
    /* Splash Image Container */
    .splash-image-container {
      position: relative;
      width: 100%;
      height: 100vh; /* Full viewport height */
      overflow: hidden; /* Hide overflow */
    }
    .splash-image-container .bg-img {
      position: fixed; /* Fix the background image */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ensure the image covers the entire container */
      z-index: -1; /* Ensure the image is behind other content */
    }
    /* Keep the splash content fixed */
    .splash-content {
      position: fixed;
      top: 50%; /* Center vertically */
      left: 50%; /* Center horizontally */
      transform: translate(-50%, -50%);
      z-index: 10;
      color: white;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.7); /* 50% transparent coffee */
      border: 1px solid rgba(77, 59, 46, 0.5);
      border-radius: 10px; /* Adjust the value for more or less rounded edges */
      padding: 3%;
      max-width: 400px;
    }
    /* Body text that scrolls over the splash content */
    body.path-frontpage {
      overflow-x: hidden; /* Prevent horizontal scrolling */
    }
    /* Fixed Bar at the Bottom */
    #splash--scroller {
      position: fixed;
      bottom: 0;
      padding: 10px;
      width: 100%; /* Full width */
      background-color: #859c7f;
      padding: 7px 0 8px;
      text-align: center; /* Center the text */
      color: black; /* Text color */
      box-shadow: 0 -20px 60px rgba(0, 0, 0, .4);
      z-index: 15; /* Ensure it's above other elements */
    }

    /* Link Style inside the Fixed Bar */
    #splash--scroller a {
      text-decoration: none;
      font-weight: bold;
      color: black;
      font-size: 1.2rem; 
    } 
    #splash--scroller a:hover {
      color: white;
    }



  .block-system-branding-block {
    display: block;
    background: #362e27;
  }

  /* Boostrap Overrides */
  .ui-visual-focus {
	box-shadow: 0 0 3px 1px rgb(94, 158, 214);
  }
  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  a.ui-button:active,
  .ui-button:active,
  .ui-button.ui-state-active:hover {
	border: 1px solid #003eff/*{borderColorActive}*/;
	background: #3f6688;
	font-weight: normal/*{fwDefault}*/;
	color: #ffffff/*{fcActive}*/;
  }
  .ui-icon-background,
  .ui-state-active .ui-icon-background {
	border: #003eff/*{borderColorActive}*/;
	background-color: #ffffff/*{fcActive}*/;
  }
  .ui-state-active a,
  .ui-state-active a:link,
  .ui-state-active a:visited {
	color: #ffffff/*{fcActive}*/;
	text-decoration: none;
  }
  #wall-calendar {
    min-height: 600px; /* or any value that fits your design */
  }
}
